<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Love Story</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap" rel="stylesheet">
</head>
<body class="backgroundcolor">
    <div id="heart-pattern"></div>
    <script src="{{ url_for('static', filename='js/silder.js') }}"></script>
    <script src="{{ url_for('static', filename='js/b.js') }}"></script>
    <script src ="{{url_for('static', filename='js/info.js')}}"></script>
    <h1 class="header">My Love Story</h1>
    <form action="/result" method="post" id="myForm">
        <h2 class="header">Quiz</h2>
        <p class="love_story_about">Answer the following questions to generate your love story</p>
    
        <div class="love_story_about" style="text-align: center;">
    
            <label for="name" class="love_story_about">Name:</label>
            <input type="text" id="name" name="name" >
            <br><br>
    
            <input type="range" class="slider" id="slider" name="age" min="16" max="100" value="25" >
            <span id="ageDisplay">Age:25</span>
            <br>
            <br>
    
            <input type="hidden" id="partner_type_hidden" name="partner type" value="Romeo">
            <input type="hidden" id="Feeling_Lucky_hidden" name="Feeling Lucky" value="Feeling Lucky">
            
            <input type="button" value="Romeo" name = "partner_type" id = "partner_type" class="Lucky_button">
            <input type="button" value="Feeling Lucky" name="Lucky_button" id="Lucky_button" class="Lucky_button">
            <br>
            <br>
    
            <label for="q1" class="love_story_about">
                Q1. At your wedding reception, a guest grabs the microphone for an impromptu toast and declares,
                <br>"Imma let you finish, but XXXXX is the love of [your name]'s life!"
                <br>How do you want your love interest to respond?
            </label>
            <br><br>
    
            <input type="radio" id="q1_option1" name="q1" 
            value="Defend your honor and remove them from the premises." >
            
            <label for="q1_option1" class="love_story_response">
                A. Defend your honor and remove them from the premises.
            </label>
            <br>
    
            <input type="radio" id="q1_option2" name="q1"
            value="Laugh it off and continue to propose a toast to your guests." >
            <label for="q1_option2" class="love_story_response">
                B. Laugh it off and continue to propose a toast to your guests.
            </label>
            <br>
    
            <input type="radio" id="q1_option3" name="q1"
            value="Quietly plot a playful revenge." checked >
            <label for="q1_option3" class="love_story_response">
                C. Quietly plot a playful revenge
            </label>
            <br>
    
            <input type="radio" id="q1_option4" name="q1"
            value="Say they are right and you are the love of their life." >
            <label for="q1_option4" class="love_story_response">
                D. Say they are right and you are the love of their life.
            </label>
            
            <br>
            <br>
    
            <label for="q2" class="love_story_about">
                Q2.What trait must your ideal partner possess if you had to choose one?
            </label>
            <br><br>
    
            <input type="radio" id="q2_option1" name="q2" 
            value ="Courage to stand up for what's right." checked >
            <label for="q2_option1" class="love_story_response">
                A. Courage to stand up for what's right.
            </label>
            <br>
    
            <input type="radio" id="q2_option2" name="q2"
            value="A wicked sense of humor." >
            <label for="q2_option2" class="love_story_response">
                B. A wicked sense of humor.
            </label>
            <br>
    
            <input type="radio" id="q2_option3" name="q2"
            value="Intellectual curiosity" >
            <label for="q2_option3" class="love_story_response">
                C. Intellectual curiosity.
            </label>
            <br>
    
            <input type="radio" id="q2_option4" name="q2"
            value="Compassion for others" >
            <label for="q2_option4" class="love_story_response">
                D. Compassion for others.
            </label>
    
            <br>
            <br>
    
            <label for="q3" class="love_story_about">Q3.What kind of challenges do you think 
                make a romance interesting?</label>
            <input type="text" id="q3" name="q3" >
            <br>
            <br>

            <label for="q4" class="love_story_about">Q4.What is one characteristic people would say you have?</label>
            <input type="text" id="q4" name="q4" >


            <br>
            <label for="q5" class="love_story_about">Q5.Opposites attract.</label>
            <input type="hidden" id="Opposite_button_hidden" name="Opposite_button_hidden" value="Yes">
            
            <input type="button" value="Yes" name = "Opposite_button" id = "Opposite_button" class="Lucky_button">

            <br>
            <br>
            
            <label for="q6" class="love_story_about">Q6.If your life was a movie what genre would it be?ex:(Drama Comedy Horror)</label>
            <input type="text" id="q6" name="q6" >
            <br>
            <br>

            <label for="q7" class="love_story_about">Q7.what is the first thing that you can thing of?</label>
            <input type="text" id="q7" name="q7" >
            <br>
            <br>


            <input type ="hidden" id="job" name="job" value="Na">
            <p id="job_display">Job:Na</p>

            <input type="hidden" id="time_spent" name="time_spent" value="0">
            <input type="submit" value="Submit" onclick="handleSubmit(event)">
        </div>
    </form>
    

       
        
</body>
</html>
