<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Love Story</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap" rel="stylesheet">
</head>
<body class="backgroundcolor">
    <div id="heart-pattern"></div>
    <h1 class="header">My Love Story</h1>
    
    <script src="{{ url_for('static', filename='js/mouse.js') }}"></script>
    <script src="{{ url_for('static', filename='js/love_story.js') }}"></script>

    <div class="button-container">
        <button class="button" onclick="window.location.href='/quiz'">Start</button>
        <button class="button" onclick="window.location.href='/about'">About</button>

    </div>
    <img src="{{ url_for('static', filename='images/cupid.png') }}" class="cupid">
    

<div class="love_story_text">
    <p >Links:</p>
    <a href="https://github.com/terrelldavis1224?tab=repositories" class="link">My Github</a>
</div>

</body>
</html>
